/* css reset start */
*{
	margin:0;
	padding:0;
}
html,body{
	overflow:hidden;
	height:100%;
	position:relative;
}
body{
	font-size:12px;
	background:#fff;
	color:#333;
	font-family:'微软雅黑','宋体',Tahoman,simsun,sans-serif;
}
a{
	color:#333;
	text-decoration:none;
}
a img{
	border:none;
}
ul,ol{
	list-style-type:none;
	list-style-position:outset;
}
textarea{
	resize:none;
}
.clear{
	clear:both;
}
.clearfix{
	zoom:1;
}
.clearfix:after{
	content:"";
	diplay:block;
	clear:both;
	height:0;
	font-size:0;
	overflow:hidden;
	visibility:hidden;
}

/* css reset end */

/* layout css start */

.wrapper{
	height:100%;
	overflow-y:scroll;
	position:relative;
}
.header,.footer,.sidebar{
	position:absolute;
	left:0;
	background:#eee;
	zoom:1
}
.header{
	top:0;
	border-bottom:3px solid #65769A;
	height:30px;
	line-height:30px;
	z-index:9;
}
.logo{
	width:177px;
	height:60px;
	position:absolute;
	top:0;
	left:0;
	z-index:99;
}
.logo a{
	display:block;
	width:100%;
	height:100%;
	background:url(../img/logo.png) no-repeat center center #eee;
	text-indent:-9999em;
}
.nav p.current_posit{
	padding-left:177px;
	color:#65769A;
	font-size:14px;
	line-height:normal;
	padding-top:5px;
	zoom:1
}
.nav p.current_posit a.home{
	padding-left:20px;
	background:url(../img/icon.png) no-repeat -6px -98px
}
.nav p.current_posit a{
	/*font-weight:bold;*/
	color:#65769A
}
.nav p.current_posit i.pa{
	border-width:5px;
	border-color:#eee #eee #eee #65769A;
	position:relative;
	top:6px;
	overflow:hidden;
	zoom:1;
	vertical-align:top
}
.footer{
	bottom:0;
	height:30px;
	line-height:30px;
	border-top:1px solid #aaa;
	z-index:9
}
.sidebar{
	top:0;
	height:100%;
	width:177px;
	border-right:3px solid #65769A;
	z-index:8;
}
.content{
	padding:33px 305px 35px 195px;
}
.arrow{
	display:inline-block;
	width:0;
	height:0;
	font-size:0;
	line-height:0;
	border-style:solid;
}
.sidebar ul.menu{
	padding-top:68px;
}
ul.menu li{
	padding-left:20px;
	height:25px;
	line-height:25px;
	position:relative;
}
ul.menu li a{
	font-size:14px;
	font-weight:bold;
	display:block;
	padding-left:8px;
	text-shadow:1px 1px 2px #888;
	zoom:1
}
ul.menu li a:hover{
	color:#65769A
}
ul.menu li i.ma{
	border-width:7px;
	border-color:#eee #eee #eee #65769A;
	position:absolute;
	right:0;
	top:5px;
	display:none
}
ul.menu li.current a{
	color:#65769A
}
ul.menu li.current i.ma{
	display:block;
}
.search{
	position:absolute;
	right:8px;
	top:3px;
	height:28px;
	overflow:hidden;
	padding-right:2px;
	line-height:normal;
}
.search input{
	vertical-align:middle
}
.search input.txt{
	border:1px solid #65769A;
	background:#fff;
	border-radius:3px;
	height:21px;
	width:230px;
	line-height:21px;
	padding-right:25px;
}
.search input.btn{
	height:21px;
	border:none;
	width:24px;
	background:url(../img/icon.png) no-repeat center -36px #fff;
	text-indent:-999em;
	margin-left:-26px;
	font-size:0;
	line-height:0;
}
ul.article_list{
	overflow:hidden
}
ul.article_list li{
	padding-left:10px;
	margin-top:-1px;
	padding-top:18px;
	border-top:1px dotted #ccc;
	zoom:1
}
ul.article_list .article{
	position:relative;
	zoom:1
}
ul.article_list .article p.articlebar{
	position:absolute;
	right:0;
	top:0;
	height:27px;
	line-height:27px;
}
ul.article_list h2{
	font-size:16px;
	height:27px;
	line-height:27px;
}
ul.article_list a{
	color:#65769A;
	text-shadow:1px 1px 2px #aaa;
}
ul.article_list a:hover{
	text-decoration:underline
}
ul.article_list p.articlebar span,
.article_details p.articlebar span{
	margin-right:15px;
}
ul.article_list .details{
	padding-bottom:18px;
	line-height:21px;
}
ul.article_list .details a.view{
	margin-left:8px;
}
ul.article_list li.empty_cont{
	line-height:50px;
	font-size:14px;
	color:#65769A
}
ul.article_list li.other{
	font-size:14px;
}
ul.article_list li.other a{
	margin-right:15px;
}
.article_details .details{
	padding-top:10px
}
.article_details .details img{
	display:block;
	margin:0 auto;
	max-width:840px;
}
.article_details p.articlebar a,#details p a{
	color:#65769A;
	text-shadow:1px 1px 2px #ccc;
}
#details p a{
	padding-right:5px;
	background:url(../img/icon.png) no-repeat -3px 7px;
	color:#5978b8;
	display:inline-block;
}
.article_details h1{
	height:25px;
	line-height:25px;
	text-align:center;
	font-size:18px;
	text-shadow:1px 1px 2px #aaa
}
.article_details p.articlebar{
	text-align:center;
	height:25px;
	line-height:25px;
	border-bottom:1px solid #ddd
}
.article_details .details p{
	text-indent:2em;
	line-height:23px;
	margin-bottom:12px;
}
.return{
	font-size:14px;
	text-align:center;
	padding-top:30px;
}
.return a{
	font-size:12px;
	margin-left:20px;
	color:#65769A
}
.aside{
	position:absolute;
	right:0;
	width:250px;
	top:33px;
	padding-bottom:33px;
}
ul.replay_list{
	padding:0 8px;
	border-top:1px solid #ddd;
	background:#eee;
	margin-top:18px;
	overflow:hidden;
	position:relative;
	zoom:1
}
ul.replay_list li{
	padding:12px 0 8px;
	border-top:1px solid #ddd;
	margin:-1px 0 8px;
	zoom:1;
}
ul.replay_list li p{
	padding-bottom:8px;
	font-weight:bold
}
.replay{
	border-top:1px solid #ddd;
	margin-top:18px;
}
.replay h3.tit{
	text-align:left;
	padding-left:0px;
	font-size:12px;
	padding-bottom:8px;
	color:#65769A;
	font-size:12px;
}
.empty_replay{
	padding:10px 0
}
.forms p{
	position:relative;
	zoom:1
}
.forms label{
	position:absolute;
	left:0;
	text-align:right;
}
.forms input.txt{
	vertical-align:middle
}
.replay p{
	padding:8px 0 8px 60px
}
.replay label{
	width:55px;
	padding-right:5px;
	top:11px;
}
.replay input.txt, .replay textarea.message{
	border:1px solid #bbb;
	background:#fff;
	border-radius:2px;
}
.replay input.txt{
	height:23px;
	line-height:23px;
	width:240px
}
.replay textarea.message{
	width:400px;
	height:170px;
}
.replay input.btn{
	background:#65769a;
	padding:3px 15px 1.9px;
	border-width:1px;
	border-style:solid;
	border-color:#ccc #555 #454545 #ccc;
	font-size:12px;
	color:#fff;
	line-height:15px;
	cursor:pointer;
	overflow:visible;
}
.replay span.errors{
	color:#f00;
	vertical-align:top
}
.contactme h2{
	font-size:16px;
	padding:10px 0;
	color:#65769A
}
.contactme ul li{
	height:25px;
	line-height:25px;
	color:#65769A;
}
.contactme ul span{
	display:inline-block;
	width:52px;
	text-align:right;
	padding-right:5px;
}
#loading{
	position:absolute;
	top:20px;
	z-index:999;
	width:24px;
	height:24px;
	left:168px;
	background:url(/static_url/img/icon.png) no-repeat center -64px
}
/*
 *#minator{
 *    position:absolute;
 *    width:18px;
 *    height:18px;
 *    background:url(../img/statusbarButtonGlyphs.png) no-repeat -71px -26px;
 *    right:5px;
 *    top:5px;
 *    cursor:pointer;
 *}
 *.minator_box{
 *    margin-left:180px;
 *    position:relative;
 *}
 *#bash{
 *    width:95%;
 *    overflow-y:auto;
 *    position:absolute;
 *    height:195px;
 *    top:-201px;
 *    right:0;
 *    background:#333;
 *    border:1px solid #ccc;
 *    color:#fff;
 *    padding-bottom:5px;
 *    padding-left:5%
 *}
 */
/* layout css end */
