<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>404</title>
		<link type="text/css" rel="stylesheet" href="/static_url/css/base.css" />
		<style type="text/css">
			body{background:url(/static_url/img/404.png) no-repeat center center}
			.gohome{position:absolute;bottom:10%;left:47%}
			.gohome a{
				display:block;
				background:url(/static_url/img/icon.png) no-repeat -3px 6px;
				padding-left:24px;
				font-size:14px;
				color:#65769a
			}
		</style>
	</head>
	<body>
		<div class='gohome'>
			<a href="/blog/index/">返回首页</a>
		</div>
	</body>
</html>
