{% extends 'base.html' %}
{% block title %}
Cage's Bolg----About Me
{% endblock %}

{% block content %}
<div class="aboutme">
	<h1 class="title">
		关于Cage
	</h1>
	<!--
	   -<dl class="myinfo">
	   -    <dt>基本信息:</dt>
	   -    <dd>
	   -        <ul class='item row'>
	   -            <li><span>姓名:</span>刘锋</li>
	   -            <li><span>性别:</span>男</li>
	   -            <li><span>英文名:</span>Cage</li>
	   -            <li><span>身高:</span>173cm</li>
	   -            <li><span>婚姻状况:</span>未婚</li>
	   -            <li><span>现居地:</span>上海</li>
	   -            <li><span>手机:</span>13917130256</li>
	   -            <li><span>E-mail:</span>517020375@qq.com</li>
	   -        </ul>
	   -    </dd>
	   -    <dt>最近工作:</dt>
	   -    <dd>
	   -        <ul class='item col'>
	   -            <li><span>公司:</span>上海中新视讯数字科技有限公司</li>
	   -            <li><span>行业:</span>互联网/电子商务</li>
	   -            <li><span>职位:</span>前端工程师</li>
	   -        </ul>
	   -    </dd>
	   -    <dt>自我评价:</dt>
	   -    <dd>
	   -        <p>爱css，爱javascript</p>
	   -        <p>爱vim，爱python，也爱linux</p>
	   -        <p>不兼容，没什么大不了</p>
	   -        <p>干掉它，是一种享受</p>
	   -        <p>前端，是职业，更是兴趣</p>
	   -    </dd>
	   -    <dt>求职意向:</dt>
	   -    <dd>
	   -        <ul class="item row">
	   -            <li><span>到岗时间:</span>一个月</li>
	   -            <li><span>工作性质:</span>全职</li>
	   -            <li><span>希望行业:</span>互联网/电子商务</li>
	   -            <li><span>工作地点:</span>上海</li>
	   -            <li><span>期望月薪:</span>面议</li>
	   -            <li><span>目标岗位:</span>前端开发</li>
	   -        </ul>
	   -    </dd>
	   -    <dt>工作经验:</dt>
	   -    <dd>work</dd>
	   -</dl>
	   -->
</div>
{% endblock %}
{% block aside %}
	test aside
{% endblock %}
