{% extends 'add_base.html' %}

{% block title %}
添加文章
{% endblock %}

{% block outfile %}
<script type="text/javascript" src="/KE/kindeditor-min.js"></script>
<script type="text/javascript" src="/KEplugin/public/jquety.syntax.js"></script>
<script type="text/javascript" src="/KEplugin/public/jquety.syntax.cache.js"></script>
{% endblock %}

{% block content %}
<form action="" method="post">
	<div class="admin_form">
		<p><label>标题:</label>{{add_article_form.title}}</p>	
		<p><label>作者:</label>{{add_article_form.author}}</p>	
		<p><label>内容:</label>{{add_article_form.cont}}</p>	
		<p><label>类别:</label>{{add_article_form.article_type}}</p>	
		<p><input type="submit" name="button" value="提交内容" /></p>
	</div>
</form>
<script>
var editor;
	KindEditor.ready(function(K) {
	editor = K.create(document.getElementById("id_cont"), {
		resizeType : 1,
		cssPath : ['/KE/plugins/code/prettify.css'],
		allowFileManager : true
	});
});
</script>
{{newarticle.title}}
{% endblock %}
