{% extends 'base.html' %}
{% block title %}
Cage's Blog{% if name and name != 'index' %} | {{name}}相关文章{% endif %}
{% endblock %}

{% block content %}
<ul class="article_list">
	{% if article %}
	{% for item in article %}
	<li class="item">
		<div class="article">
			<h2><a href='/blog/{{item.article_type}}/{{item.id}}/'>{{item.title}}</a></h2>
			<p class="articlebar"><span>时间:{{item.date}}</span><span>作者:{{item.author}}</span>类别:<a href="/blog/{{item.article_type}}/">{{item.article_type}}</a></p>
			<div class="details">
				{{item.cont|safe|slice:":160"}}...
				{{abc}}
				<a class="view" href="/blog/{{item.article_type}}/{{item.id}}/">&lt;&lt;查看</a>
			</div>
		</div>
	</li>
	{% endfor %}
	{% else %}
	<li class="empty_cont">暂无<strong>{% if search %} {{search}} {% else %} {{name}} {% endif %}</strong>相关的文章</li>
		<li class="other">
			去其他地方看看：
			{% for item in category %}
				{% if item.name != name and item.name != "contact" and item.name != "about" %}
					<a href="/blog/{{item.name}}/">{{item.name.capitalize}}</a>
				{% endif %}
			{% endfor %}
		</li>
	{% endif %}
</ul>
{% endblock %}
